{% load static %}

<footer class="footer font-small mdb-color pt-2">
    <div class="container">
        <div class="row">
            <div class="col">
                The Biker Project 2019
            </div>
            <div class="col text-center">
                <a href="#">Where does my data go?</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">About</a>
            </div>
            <div class="col text-right">
                <a href="https://github.com/surfingdmx/biker" target="_blank">
                    <i class="fab fa-github fa-lg" style="color:black;"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
