{% load static %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarNavDropdown" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/"><img src="{% static 'images/placeholder.png' %}" width="30" height="30" /></a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" href="/">Biker</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Ranking</a>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'enter_ride' %}active{% endif %}"
                       href="{% url 'users:enter_ride' %}">Routes & Rides</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Challenges</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'profile' %}active{% endif %}"
                       href="{% url 'users:profile' %}">Profile</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                        <img src="{% static 'images/placeholder.png' %}" width="30" height="30" />
                    </a>
                    <div class="dropdown-menu dropdown-menu-right float-right">
                        <a class="dropdown-item" href="{% url 'account_change_password' %}">Change Password</a>
                        <a class="dropdown-item" href="{% url 'account_email' %}">Manage Mail Addresses</a>
                        <a class="dropdown-item" href="{% url 'account_logout' %}">Sign Out</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'account_signup' %}active{% endif %}"
                       href="{% url 'account_signup' %}">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'account_login' %}active{% endif %}"
                       href="{% url 'account_login' %}">Sign In</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
