{% extends '_base.html' %}

{% block body %}
<h4 style="display:inline;margin-bottom:30px;">My Rides</h4>

<a href="{% url 'users:enter_ride' %}" class="btn btn-primary float-right btn-sm" style="color:#fff;margin-left:5px">
    <i class="fas fa-plus"></i>&nbsp;&nbsp;Add Ride
</a>
<a class="btn btn-primary float-right btn-sm" style="color:#fff"><i class="fas fa-list"></i>&nbsp;&nbsp;All Rides</a>
<table class="table table-striped" style="margin-top:15px">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            <th scope="col">Distance</th>
            <th>Note</th>
        </tr>
    </thead>
    <tbody>
        {% for ride in ride_list %}
            <tr>
                <td class="align-middle">{{ ride.date }}</td>
                <td class="align-middle">{{ ride.start_time }}</td>
                <td class="align-middle">{{ ride.end_time }}</td>
                <td class="align-middle">{{ ride.distance }}km</td>
                <td class="align-middle">{{ ride.note }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>



<br>
<h4 style="display:inline;margin-bottom:30px;">My Routes</h4>

<a class="btn btn-primary float-right btn-sm" style="color:#fff;margin-left:5px"><i class="fas fa-edit"></i>&nbsp;&nbsp;Manage Routes</a>
<a class="btn btn-primary float-right btn-sm" style="color:#fff"><i class="fas fa-list"></i>&nbsp;&nbsp;All Routes</a>
<table class="table table-striped" style="margin-top:15px">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            <th scope="col">Distance</th>
            <th>Note</th>
        </tr>
    </thead>
    <tbody>
        {% for ride in ride_list %}
            <tr>
                <td class="align-middle">{{ ride.date }}</td>
                <td class="align-middle">{{ ride.start_time }}</td>
                <td class="align-middle">{{ ride.end_time }}</td>
                <td class="align-middle">{{ ride.distance }}km</td>
                <td class="align-middle">{{ ride.note }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}