{% extends '_base.html' %}

{% block body %}
<h1>Profile</h1>

<p>Hello, {{ user.username }}!</p>

<table>
    <tr>
        <th>Date</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Distance</th>
        <th>Note</th>
    </tr>

    {% for ride in ride_list %}
        <tr>
            <td>{{ ride.date }}</td>
            <td>{{ ride.start_time }}</td>
            <td>{{ ride.end_time }}</td>
            <td>{{ ride.distance }}km</td>
            <td>{{ ride.note }}</td>
        </tr>
    {% endfor %}

</table>

<p>You have rocked <strong>{{ total_kilometers }}km</strong> in total. Congrats!</p>
{% endblock %}