{% extends '_base.html' %}

{% block body %}
<h4 style="display:inline;margin-bottom:30px;">My Rides</h4>

<a href="{% url 'users:enter_ride' %}" class="btn btn-primary float-right btn-sm" style="color:#fff;margin-left:5px">
    <i class="fas fa-plus"></i>&nbsp;&nbsp;Add Ride
</a>
<a class="btn btn-primary float-right btn-sm" style="color:#fff"><i class="fas fa-list"></i>&nbsp;&nbsp;All Rides</a>
<table class="table table-striped" style="margin-top:15px">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            <th scope="col">Distance</th>
            <th>Note</th>
        </tr>
    </thead>
    <tbody>
        {% for ride in ride_list %}
            <tr>
                <td class="align-middle">{{ ride.date }}</td>
                <td class="align-middle">{% if ride.start_time is not None %}{{ ride.start_time }}{% endif %}</td>
                <td class="align-middle">{% if ride.end_time is not None %}{{ ride.end_time }}{% endif %}</td>
                <td class="align-middle">
                    {% if ride.distance is not None %}
                        {{ ride.distance }}km
                    {% elif ride.route is not None%}
                        {{ ride.route.distance }}km
                    {% endif %}
                </td>
                <td class="align-middle">{% if ride.route is not None %}Route '{{ ride.route.name }}'{% else %}{{ ride.note }}{% endif %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>



<br>
<h4 style="display:inline;margin-bottom:30px;">My Routes</h4>

<a class="btn btn-primary float-right btn-sm" style="color:#fff;margin-left:5px"><i class="fas fa-edit"></i>&nbsp;&nbsp;Manage Routes</a>
<a class="btn btn-primary float-right btn-sm" style="color:#fff"><i class="fas fa-list"></i>&nbsp;&nbsp;All Routes</a>
<table class="table table-striped" style="margin-top:15px">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Distance</th>
            <th scope="col">Start</th>
            <th scope="col">Destination</th>
            <th>Note</th>
        </tr>
    </thead>
    <tbody>
        {% for route in route_list %}
            <tr>
                <td class="align-middle">{{ route.name }}</td>
                <td class="align-middle">{{ route.distance }}km</td>
                <td class="align-middle">{{ route.start_name }}</td>
                <td class="align-middle">{{ route.destination_name }}</td>
                <td class="align-middle">{{ route.note }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}