{% extends '_base.html' %}
{% load static %}

{% block body %}
<h4>Add an email address</h4>
<form class="add_email" method="POST" action="{% url 'users:custom_email' %}">
    {% csrf_token %}
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-at"></i></span>
        </div>
        <input type="email" name="email" placeholder="New Email Address" class="form-control">
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary" name="action_add" >Add Email Address</button>
        </div>
    </div>
</form>

<br><br>
<h4>Your email addresses</h4>
<form id="list_form" class="email_list" method="POST" action="{% url 'users:custom_email' %}">
    {% csrf_token %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Mail Address</th>
                <th scope="col">Verified</th>
                <th scope="col">Primary</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for emailaddress in user.emailaddress_set.all %}
            <tr>
                <td class="align-middle">{{ forloop.counter }}</td>
                <td class="align-middle">{{ emailaddress.email }}</td>
                <td class="align-middle">
                    {% if emailaddress.verified %}
                        <i class="fas fa-check-circle" style="color: #32cd32"></i>
                    {% else %}
                        <i class="fas fa-times-circle" style="color: #f44336"></i>
                    {% endif %}
                </td>
                <td class="align-middle">
                    {% if emailaddress.primary %}
                        <i class="fas fa-check-circle" style="color: #32cd32"></i>
                    {% else %}
                        <i class="fas fa-times-circle" style="color: #f44336"></i>
                    {% endif %}
                </td>
                <td class="text-right align-middle">
                    {% if not emailaddress.primary and emailaddress.verified %}
                        <button type="submit" class="btn btn-outline-success btn-sm"
                                name="action_primary_{{ forloop.counter0 }}">Make Primary</button>
                    {% endif %}
                    {% if not emailaddress.verified %}
                        <button type="submit" class="btn btn-outline-info btn-sm"
                                name="action_send_{{ forloop.counter0 }}">Re-send Verification</button>
                    {% endif %}
                    {% if not emailaddress.primary %}
                        <button type="button" class="btn btn-outline-danger btn-sm del-button"
                                data-toggle="modal" data-target="#confirm-delete"
                                name="action_remove_{{ forloop.counter0 }}">Delete</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                Confirm Delete
            </div>
            <div class="modal-body">
                Are you sure you want to delete the selected email address?
            </div>

            <div class="modal-footer">
                <button id="del-cancel-button" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a href="#" id="del-submit-button" class="btn btn-danger success">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body_scripts %}
<script type="text/javascript">
$('.del-button').click(function () {
    $('#list_form').append('<input id="del-name-hidden" type="hidden" name="' + $(this).attr('name') + '" /> ')
});

$('#del-submit-button').click(function() {
    $('#list_form').submit();
});

$('#del-cancel-button').click(function () {
    $('#list_form').remove('#del-name-hidden');
})
</script>
{% endblock %}
