{% extends '_base.html' %}
{% load account %}
{% load static %}

{% block body %}
<form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    <div class="row text-center">
        <div class="col-12">
            <img src="{% static 'images/placeholder.png' %}" width="100" height="100">
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <div class="input-group mb-3">
                          <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                          </div>
                          <input type="text" name="login" placeholder="Username or Email" class="form-control" autofocus>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" name="password" placeholder="Password" class="form-control">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <small><a href="{% url 'account_reset_password' %}">Forgot?</a></small>
                            </span>
                        </div>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" name="remember" class="form-check-input" id="rememberCheckbox">
                        <label class="form-check-label" for="rememberCheckbox">&nbsp;&nbsp;Remember Me</label>
                    </div>
                    <button class="btn btn-primary float-right" type="submit">Sign In</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    Don't have an account yet? <a href="{{ signup_url }}">Sign Up</a> first!
                </div>
            </div>
        </div>
    </div>
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
</form>
{% endblock %}
