{% extends '_base.html' %}
{% load static %}

{% block body %}
<form class="login" method="POST" action="{% url 'account_reset_password' %}">
    {% csrf_token %}
    <div class="row text-center">
        <div class="col-12">
            <img src="{% static 'images/placeholder.png' %}" width="100" height="100">
        </div>
    </div>
    <br>
    <h4 class="text-center">Password Reset</h4>
    <div class="text-center">Enter your email, we'll send a verification code</div>
    <div class="row justify-content-center">
        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-at"></i></span>
                        </div>
                        <input type="email" name="email" placeholder="Your Email address" class="form-control">
                    </div>
                    <button class="btn btn-primary float-right" type="submit">Reset Password</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
