{% extends '_base.html' %}
{% load static %}

{% block body %}
<form class="login" method="POST" action="{{ action_url }}">
    {% csrf_token %}
    <div class="row text-center">
        <div class="col-12">
            <img src="{% static 'images/placeholder.png' %}" width="100" height="100">
        </div>
    </div>
    <br>
    {% if token_fail %}
        <h4 class="text-center">Bad Token</h4>
        <div class="text-center">The password reset link was invalid, possibly because it has already been used.<br>
            Please request a <a href="{% url 'account_reset_password' %}">new password reset</a>.</div>
    {% elif form %}
        <div class="row justify-content-center">
            <div class="col-5">
                <div class="card">
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="password1" placeholder="Password" class="form-control">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="password2" placeholder="Password (repeat)" class="form-control">
                        </div>
                        <button class="btn btn-primary float-right" type="submit">Change Password</button>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h4 class="text-center">Password changed successfully</h4>
        <div class="text-center">Your password is now changed.</div>
    {% endif %}
</form>
{% endblock %}
