{% extends '_base.html' %}
{% load static %}

{% block body %}
<form class="login" method="POST" action="{% url 'account_signup' %}">
    {% csrf_token %}
    <div class="row text-center">
        <div class="col-12">
            <img src="{% static 'images/placeholder.png' %}" width="100" height="100">
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <div class="input-group mb-3">
                          <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-at"></i></span>
                          </div>
                          <input type="email" name="email" placeholder="Email" class="form-control" autofocus>
                    </div>
                    <div class="input-group mb-3">
                          <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                          </div>
                          <input type="text" name="username" placeholder="Username" class="form-control" autofocus>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" name="password1" placeholder="Password" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" name="password2" placeholder="Password (repeat)" class="form-control">
                    </div>
                    <button class="btn btn-primary float-right" type="submit">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    Already have an account? <a href="{% url 'account_login' %}">Sign In</a> instead!
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
